html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://s1.1zoom.me/b5050/433/Tropics_Houses_Kogi_479592_3840x2400.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
  background-color: #24355C;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

#espacio {height: 80px;}

.logo {
  position: absolute;
  left: 220px;
  top: -5px;;
  width: 10%;
}

.customh {
  position: absolute;
  left: 650px;
  top: 30px;;
  width: 20%;
}